body {
  background: rgb(48, 48, 116);
  font: 15pt normal arial;
}

header,h1 {
     color: white;
     text-align: center;
}

section {
    background: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.456) 5px 5px 10px;
}

div {
  text-align: center;
  padding: 8px;
}


img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
}

footer{
color: white;
text-align: center;
font-style: italic;
}